.b-footer {
    position: relative;
    @include sectionBackground('../images/Place_your_Image_here.png');
    color: $white;
    z-index: -15;
    padding: $sectionSpaceTop 0 170px 0;

    @include media-breakpoint-down (sm) {
        padding-bottom: 70px;
    }

    &::after {
        z-index: -10;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0.9);
    }

    &__blocks {
        display: flex;
    }

    &__download,
    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
            margin-top: 20px;
        }
    }

    &__title {
        @include latoBlack;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding-bottom: 35px;
        border-bottom: 6px solid $siteColor;
    }

    &__description {
        @include lato;
        font-size: .9rem;

        &_indent {
            margin: 35px 0;
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
    }

    &__social-item {
        width: 20px;
        height: 20px;
        display: block;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    @for $i from 1 through 4 {
        &__social-item-#{$i} {
            background: url(../images/social_#{$i}.svg) no-repeat 50% 50%;
            background-size: cover;
        }
    }

    &__icon-app {
        width: 20px;
        height: 20px;
    }

    @for $j from 1 through 2 {
        &__icon-brand-#{$j} {
            background: url(../images/brand_#{$j}.svg) no-repeat 50% 50%;
            background-size: cover;
        }
    }

    &__brands {
        color: $siteColor;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__item-content {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(sm) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__contact-icon {
        width: 20px;
        height: 20px;

        &-indent {
            margin-right: 10px;
        }
    }

    @for $x from 1 through 4 {
        &__contact-icon-#{$x} {
            background: url(../images/contact_#{$x}.svg) no-repeat 50% 50%;
            background-size: cover;
        }
    }
    
    &__bottom {
        text-align: center;
        background-color: $black;
        padding: 15px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        @include lato;
        font-size: .8rem;
    }
}

