.b-title {
    text-align: center;
    @include latoBlack;
    text-transform: uppercase;
    color: $white;
    line-height: 35px;

    &__top {
        font-size: 1.7rem;
        color: $siteColor;
    }

    &__bottom {
        font-size: 2.3rem;
    }

    &_black {
        color: $black;
    }
}