@font-face {
    font-family: "Lato";
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/Lato-Black.ttf) format("ttf"),
        url(../fonts/Lato-Black.ttf) format("eot"), 
        url(../fonts/Lato-Black.ttf) format("woff"), 
        url(../fonts/Lato-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Lato-Regular.ttf) format("ttf"),
        url(../fonts/Lato-Regular.ttf) format("eot"), 
        url(../fonts/Lato-Regular.ttf) format("woff"), 
        url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Bebas";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/BebasNeue-Regular.ttf) format("ttf"),
        url(../fonts/BebasNeue-Regular.ttf) format("eot"), 
        url(../fonts/BebasNeue-Regular.ttf) format("woff"), 
        url(../fonts/BebasNeue-Regular.ttf) format("truetype");
}